html,
body {
	background: #000 url(bg0.png) fixed center;
}

html {
	margin: 0;
	padding: 0;
}
body {
	font-size: 10px;
	margin: 0;
	padding: 0;
}

.page {
	background: #fff url(bg.png) center;
	width: 62.8em;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 7em 10em;
}

header {
	text-align: center;
}

header h1 {
	margin: 0;
}

header .img {
	display: none;
}

section.top {
	overflow: hidden;
}

/* Slick.Finder | SlickSpec | Slick.Parser */

a:link,
a:visited{
	text-decoration:none;
	color: #000;
	z-index: 1;
	position:relative;
}
a:link:focus,
a:link:hover,
a:visited:focus,
a:visited:hover{
	background: #000;
	color: #fff;
}
a:link:active,
a:visited:active{
	background: #5ff;
	color: #fff;
}


section.top .r {
	float: right;
	text-align: right;
}

section.top .l {
	float: left;
	text-align: left;
}

section.top .m {
	text-align: center;
}

section.top h2 {
	font: normal 4.4em "Lobster", sans-serif;
	margin: 0;
}

section.top h2 em {
	font-size: .47727272727272727272em;
	margin-right: -.2em;
	font-style: normal;
}

section.top h2 b {
	font-weight: normal;
}


/* SlickSpec */
section.top h2.m {
	font-size: 6em;
	display: inline-block;
	margin: 0;
	padding: .1em;
}

section.top .m a {
	display: inline-block;
	padding: .4ex 1ex;
}

section.top .m em {
	display: block;
	font-size: .2em;
	text-align: left;
	margin-top: -1.1em;
}

/* Content stuff */

section.middle .l,
section.middle .r {
	width: 50%;
	float: left;
}

section.middle .r {
	text-align: right;
}

section.middle h2,
section.middle h3,
section.middle h4 {
	margin: 0;
	font: normal 6em "IM Fell English SC", serif;
}

section.middle a {
	display: inline-block;
	padding: .5ex .5em;
	margin: 0 -.5em;
	line-height: 1;
	font: normal 3.6em "IM Fell English SC", serif;
}

section.middle a em{
	display: block;
	font-size: .4em;
	text-align: left;
	font-style: italic;
	margin-top: -1ex;
}

/* Docs*/

.docs p {
	font: normal 1.3em sans-serif;
}

section.docs h3 {
	font-size: 4em;
}

section.docs h4 {
	font-size: 3em;
}

.docs code {
	background: #EEE;
	border: 1px solid #DDD;
	font-size: 12px;
	line-height: 1.5em;
	color: #444;
	-webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px inset;
	border-radius: 3px;
}

.docs pre {
	margin: 1em 0;
	font-size: 12px;
	background: #EEE;
	border: 1px solid #DDD;
	padding: 5px;
	line-height: 1.5em;
	color: #444;
	overflow: auto;
	-webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px inset;
	border-radius: 3px;
}

/* Contributors */

footer {
	clear: both;
	padding-top: 3em;
	font: italic 1.8em "IM Fell English SC", serif;
}

footer a {
	display: inline-block;
	width: 32.5%;
	padding: 1em 0 1ex;
	margin-bottom: -1ex;
	text-align: center;
}

footer h3 {
	display: none;
}

footer a img {
	display: block;
	margin: 0 auto;
	margin-bottom: 1ex;
	border: 2px solid;
}
