html,body{
	background: #000 url(bg0.png) fixed center;
}

html {
	margin:0;padding:0;
}
body {
	font-size: 10px;
	margin:0;padding:0;
}

.page {
	background: #fff url(bg.png) center;
	width: 76.8em;
	height: 94.6em;
	text-align:center;
	margin: 0 auto;
	position:relative;
	overflow:hidden;
}

.page .body {
	left: 76.8px;
	right: 76.8px;
	top:102px;
	bottom:102px;
	position:absolute;
	/*background-color: #5ff;*/
}


.M{
	position: absolute;
	top: 0;
	left: 0;
}
.T {
	position: absolute;
	top:0;
	left:0;
	width:100%;
}
.B {
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
}


.r{
	left: auto;
	right: 0;
	text-align:right;
}

.l {
	text-align: left;
}

.l,.r{
	width:50%;
}

/* @group #menu */

#menu a:link,
#menu a:visited{
	text-decoration:none;
	color: #000;
	z-index: 1;
	position:relative;
}
#menu a:link:focus,
#menu a:link:hover,
#menu a:visited:focus,
#menu a:visited:hover{
	background: #000;
	color: #fff;
}
#menu a:link:active,
#menu a:visited:active{
	background: #5ff;
	color: #fff;
}

#menu h1 object,
#menu h1 embed,
#menu h1 img{
	position: absolute;
	top: 0;
	left: 50%;
	width: 322px;
	height: 322px;
	margin-left: -161px;
	margin-top:-77px;
}
#menu h1 .img{
	text-indent:-999em;
	overflow:hidden;
	display:block;
	height:100%;
	width:100%;
	background-image: url('../slickjs-logo@322.png');
}

/* @group T */

#menu .T {
	top: 32%;
	font-size: 4.4em;
	font-weight:normal;
	margin: 0;
}
#menu h2 em,
#menu a em,
#menu h2 b,
#menu a b{
	font-weight:normal;
	font-family: "Lobster", sans-serif;
	text-rendering: optimizeLegibility;
}

#menu .T em {
	font-size: .47727272727272727272em;
	margin-right: -.2em;
	font-weight: normal;
	font-style: normal;
}

#menu .T.m {
	font-size: 6em;
	display: inline-block !important;
	width: auto;
	left: 50%;
	margin-left: -4.8ex;
}

#menu .T.m a {
	display: block;
	padding: .6ex 1ex 1ex;
}

#menu h2.T.m em {
	display: block;
	font-size: .2em;
	text-align: left;
	margin-top: -1.1em;
}

/* @end */

/* @group M */

#menu .M {
	top: 45%;
	font-size: 3.6em;
	font-family: "IM Fell English SC", serif;
	text-rendering: optimizeLegibility;
}

#menu .M a {
	display: inline-block;
	padding: .5ex .5em;
	margin: 0 -.5em;
	line-height: 1;
}

#menu .M a em{
	position: absolute;
	display: block;
	font-size: .4em;
	text-align: left;
	margin-top: -1ex;
	font-family: "IM Fell English", serif;
	text-rendering: optimizeLegibility;
	font-style: italic;

}

#menu .M h3 {
	margin: 0;
	font-weight: normal;
	font-size: 2em;
}

/* @end */

/* @group B */

#menu .B a {
	display: inline-block;
	width: 32.5%;
	font: italic 1.8em "IM Fell English", serif;
/*	text-rendering: optimizeLegibility;*/
	padding: 1em 0 1ex;
	margin-bottom:-1ex;
}

#menu .B h3 {
	display: none;
}

#menu .B a img {
	display: block;
	margin: 0 auto;
	margin-bottom: 1ex;
	border: 2px solid;
}

/* @end */


/* @end */
